<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tugas.besar">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ListMotorActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".SewaActivity"></activity>
        <activity android:name=".PenyewaActivity"></activity>
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".DetailPenyewaActivity"></activity>
        <activity android:name=".GeolocationActivity"></activity>
        <activity android:name=".CreateMotorActivity"></activity>
        <activity android:name=".Views.ShowListMotorActivity"></activity>
        <activity android:name=".Views.EditMotorActivity"></activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>